<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Empréstimo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Realizar Empréstimo</h1>
    </header>
    <main>
        <div class="contact-container">
            <form action="{{ url_for('emprestarlivro') }}" method="POST">
                <div class="form-group">
                    <label for="id_livro">Livro</label>
                    <select id="id_livro" name="id_livro">
                        {% for livro in livros %}
                        <option value="{{ livro.id_livro }}">{{ livro.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_usuario">Usuário</label>
                    <select id="id_usuario" name="id_usuario">
                        {% for usuario in usuarios %}
                        <option value="{{ usuario.id_usuario }}">{{ usuario.nome_completo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Emprestar</button>
            </form>
        </div>
    </main>
</body>
</html>