<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrasados</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Empréstimos Atrasados</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Livro</th>
                        <th>Usuário</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.id_emprestimo }}</td>
                        <td>{{ emprestimo.titulo }}</td>
                        <td>{{ emprestimo.nome_completo }}</td>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>