<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Empréstimos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Empréstimos Ativos</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Livro</th>
                        <th>Usuário</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.id_emprestimo }}</td>
                        <td>{{ emprestimo.titulo }}</td>
                        <td>{{ emprestimo.nome_completo }}</td>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                        <td class="action-buttons">
                            <a href="{{ url_for('renovar', id=emprestimo.id_emprestimo) }}" class="edit-btn">Renovar</a>
                            <a href="{{ url_for('devolverlivro', id=emprestimo.id_emprestimo) }}" class="delete-btn">Devolver</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>