<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Multas</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Multas Pendentes</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for multa in multas %}
                    <tr>
                        <td>{{ multa.id_multa }}</td>
                        <td>{{ multa.nome_completo }}</td>
                        <td>{{ multa.valor_multa }}</td>
                        <td>{{ multa.status_pagamento }}</td>
                        <td class="action-buttons">
                            <a href="{{ url_for('removermulta', id=multa.id_multa) }}" class="delete-btn">Remover</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>