<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Gênero</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Editar Gênero</h1>
    </header>
    <main>
        <div class="contact-container">
            <form action="{{ url_for('update_genero', id=genero.id_genero) }}" method="POST">
                <div class="form-group">
                    <label for="nome_genero">Nome do Gênero</label>
                    <input type="text" id="nome_genero" name="nome_genero" value="{{ genero.nome_genero }}" required>
                </div>
                <button type="submit">Salvar Alterações</button>
            </form>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>