<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Gênero</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Excluir Gênero</h1>
    </header>
    <main>
        <div class="contact-container">
            <p>Tem certeza que deseja excluir o gênero "{{ genero.nome_genero }}"?</p>
            <form action="{{ url_for('delete_genero', id=genero.id_genero) }}" method="POST">
                <button type="submit" class="delete-btn">Excluir</button>
                <a href="{{ url_for('listargeneros') }}" class="cancel-btn">Cancelar</a>
            </form>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>