<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Gêneros</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Gêneros Cadastrados</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Gênero</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genero in generos %}
                    <tr>
                        <td>{{ genero.id_genero }}</td>
                        <td>{{ genero.nome_genero }}</td>
                        <td class="action-buttons">
                            <a href="{{ url_for('editargenero', id=genero.id_genero) }}" class="edit-btn">Editar</a>
                            <a href="{{ url_for('excluirgenero', id=genero.id_genero) }}" class="delete-btn">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>