<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login - BookFinder</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
</head>
<body>
    <main>
        <h1>Bem-vindo ao BookFinder!</h1>
        <p>Realize o login ou registre-se <a href="/register">aqui</a>!</p>
        <div class="contact-container">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="notrobo">Confirme que é humano:<br>{{ captcha_pergunta }}</label>
                    <input type="text" id="notrobo" name="notrobo" required>
                    {% if error %}
                        <p style="color: red; font-size: 0.9em; margin-top: 5px;">{{ error }}</p>
                    {% endif %}
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>