<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Termos de Serviço - BookFinder</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BookFinderIcon.png') }}">
</head>
<body>
    <main>
        <div class="text-container">
            <h1>Termos de Serviço</h1>
            <p>Estes termos e condições descrevem as regras e regulamentos para o uso do website BookFinder.</p>
    
            <h2>1. Introdução</h2>
            <p>Ao acessar este site, presumimos que você aceita estes termos e condições na íntegra. Não continue a usar o site BookFinder se você não aceitar todos os termos e serviços mencionados nesta página.</p>
    
            <h2>2. Licença</h2>
            <p>Salvo indicação em contrário, o BookFinder e/ou seus licenciadores detêm os direitos de propriedade intelectual de todo o material no BookFinder. Todos os direitos de propriedade intelectual são reservados. Você pode visualizar e/ou imprimir páginas para seu uso pessoal, sujeito às restrições estabelecidas nestes termos e condições.</p>
            <p>Você não deve: Republicar, vender, alugar, sub-licenciar, reproduzir, duplicar ou copiar material do BookFinder.</p>
            
            <h2>3. Isenção de Responsabilidade</h2>
            <p>As informações neste site são fornecidas "como estão", sem garantias de qualquer tipo. O BookFinder não se responsabiliza por quaisquer imprecisões ou omissões nas informações fornecidas.</p>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>