/* PÁGINA DE CONTATO */
.contact-container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-container form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #02be92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-container form button[type="submit"]:hover {
    background-color: #008966;
}