/* PÁGINA DE GÊNEROS */
.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    text-align: center;
    margin-top: 50px;
}

.genre-card {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.genre-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #02be92;
    color: #fff;
}

.genre-card h3 {
    font-size: 1.3rem;
    margin: 0;
}