/* PÁGINAS DE LOGIN E REGISTRO */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form .form-group {
    margin-bottom: 20px;
}

.login-container form button {
    padding: 12px;
    background-color: #02be92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-container form button:hover {
    background-color: #008966;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
}

.login-container a {
    color: #02be92;
    text-decoration: underline;
}