/* Arquivo principal que importa todos os outros CSS */
@import url('base.css');
@import url('header.css');
@import url('main.css');
@import url('search.css');
@import url('books.css');
@import url('feature.css');
@import url('modal.css');
@import url('footer.css');
@import url('auth.css');
@import url('pages.css');
@import url('dashboard.css');
@import url('responsive.css');