/* TABELAS */
.table-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #02be92;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #02be92;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* BOTÕES DE AÇÃO NA TABELA */
.action-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.8em;
    margin-right: 5px;
}

.action-buttons .edit-btn {
    background-color: #02be92;
}

.action-buttons .delete-btn {
    background-color: #dc3545;
}

.action-buttons .edit-btn:hover {
    background-color: #008966;
}

.action-buttons .delete-btn:hover {
    background-color: #c82333;
}

/* STATUS */
.status-pendente {
    color: #dc3545;
    font-weight: bold;
}

.status-pago {
    color: #28a745;
    font-weight: bold;
}

.status-cancelado {
    color: #6c757d;
    font-weight: bold;
}

.disabled-btn {
    color: #6c757d;
    cursor: not-allowed;
}
