/* PÁGINAS DE TEXTO */
.text-container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-container h2 {
    font-size: 1.8rem;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #02be92;
    padding-bottom: 5px;
}

.text-container ul {
    list-style-position: inside;
    margin-left: 20px;
    margin-bottom: 20px;
}

.text-container li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}
